<h1>Sign out</h1>

<form action="/sign_out" method="post" id="sign_out_form">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>

<button type="submit" form="sign_out_form">Submit</button>

